
body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,o

l,p,fieldset,dd,dl,input,te

xtarea,option,hr,td

{margin:0;padding:0;}
a{text-decoration:none; 

color:#333;}
h1,h3,h4,h2,h5,h6,b,strong

{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none; 

display:block;}
a,input{outline:none;}
body{font:14px/1em "微软雅黑"; color:#666;}
.clear:after{content:"."; 

display:block; 

clear:both;height:0; 

visibility:hidden;}
.clear{zoom:1;}

.border0{border:none;}


.margin_auto {margin:0 auto;width:2760px;overflow:hidden;}

.header {height:56px; background: #ffd100; overflow:hidden;}
.nav {width: 1240px; height:  56px; margin: 0 auto;overflow:hidden;}
.logo {float:left; margin-top: 18px;}
.mean { margin: 0 auto; text-align: center;height: 56px;float: left;margin-left: 200px; }
.mean ul {display: inline-block;height: 56px;}
.mean li {float: left;height: 56px;line-height: 56px;}
.mean a {padding: 0 24px;}
.search {float: right; padding-top: 18px;}
.search .i1 {height: 20px; width: 20px; background:url(../images/nav-search.svg); }
.search .i2 {height: 20px; width: 20px; background:url(../images/nav-upload.svg); }
.search a{height: 56px; width: 60px;padding-left: 20px;}
.search i{display: inline-block;}
.banner{height: 350px;width:1380px;background: red; margin-top: 20px; }

.advtop {width:1380px; height: 210px; margin:0 auto; }
.advtop li{float: left;margin-left: 20px;margin-top: 20px;}
.advtop a{height: 208px; width: 260px;}
.advtop .advtop_l1{margin-left: 0px;}
.advtop img{height: 208px;width: 260px;}

.centernav{margin-top: 55px;}
.navbox{height: 56px; width:1380px; margin: 0 auto; }
.navbox_a1{float: right;}
.navbox_a1 img{width: 150px; height: 50px;}
.navbox li{padding:0 30px; width: 64px; float: left; height: 36px; padding-top: 20px; display: inline-block;font-size: 16px;}
.navbox_l1{margin-left: 450px;}
.navbox ul{text-align: center; width: 1230px; float: left;}


.centerminbox{width: 100%; background: #ddd; overflow: hidden;}
.centermin{width:1400px; margin:0 auto; overflow: hidden;background: #ddd;margin-top: 20px;}
.carbox{margin: 0 20px 20px 0; height: 345px; width: 260px; float: left;background: #fff;}
.imgbox{height: 195px; width: 260px;}
.imgbox img{border-radius: 4px 4px 0 0;}
.infobox{height: 75px; width: 228px; padding: 11px 16px 13px 16px; }
.infobox span{padding-left: 16px; font-size: 16px; margin-right: 12px; color: #bbb;}
.infobox a{font-size: 16px;}
.infobox p{font-size: 16px;height: 20px; line-height: 20px;}
.infobox .info_s1{background: url(../images/card-liulan.svg) no-repeat left;}
.infobox .info_s2{background: url(../images/card-pinglun.svg) no-repeat left;}
.infobox .info_s3{background: url(../images/card-zan.svg) no-repeat left;}
.infobox .info_p2{padding-bottom: 17px; height: 18px; font-size: 12px;}
.idbox {padding: 0 16px; height: 25px;padding-top: 25px;border-top:1px solid #ddd;}
.idbox_sp1{float: left;}
.idbox_sp1 img{height: 24px;width: 24px;border-radius: 50%;margin-right: 10px;float: left;}
.idbox_sp2{float: right;}


.pageturnbox{width: 100%; padding-top: 20px; background: #ddd;overflow: hidden;}
.pageturnbox .pageturn{width: 1380px; margin: 0 auto;text-align: center;}
.pageturnbox a{height: 40px;width:40px;line-height: 38px;margin: 0 3px;background: #fff; display: inline-block; text-align: center; border-radius: 4px; vertical-align: top;}
#page1{background: #ffd100;}
#pagelast{background: url(../images/jiao.png) no-repeat 13px -24px;background-color: #fff;}


.lastpartbox{width: 100%;background:#ddd; padding-top: 40px;overflow:hidden;}
.lastimgbox{width: 1400px; margin: 0 auto;}
.lastimgbox img{width: 1380px; height: 115px;}
.lastnav{min-height: 14px;width: 1400px; margin: 0 auto;padding: 20px 0;}
#huanhuan{float: right;	color:red; text-align: left;}
.like{width: 1400px; margin: 0 auto;background: #ddd;}


.footer{width: 100%;background: #282828;color: #666;overflow: hidden;}
.footerbox{width: 1400px;margin: 0 auto;height: 120px;overflow: hidden;}
.footleft{float: left;padding: 50px 0;}
.footright{float: right;padding: 50px 0;}
.footleft a{margin-right: 38px;width: 122px;color: #666;}
#footleft_a1{padding-left: 20px;background: url(../images/footer-mobile.svg) no-repeat left;}
#footright_a1{background: url(../images/footer-share-weibo.svg) no-repeat;display: inline-block;width: 25px;height: 21px;margin-right: 40px;}
#footright_a2{background: url(../images/footer-share-weixin.svg) no-repeat;display: inline-block;width: 25px;height: 21px;}


.footcenter{width: 1400px; margin: 0 auto;/*padding: 20px 0 0 0;*/ overflow: hidden;padding-top:20px;border-top: 1px solid #666;}
.footcenter li{float: left;border-left: 1px solid #ddd;}
.footcenter a{margin: 0 20px; color: #666;}
#footcenter_l1{border:none;}
#footcenter_a1{ margin-left:0px;}
.footdown{width: 1400px; margin: 0 auto;padding:20px 0;}
.footdown li{float: left;border-left: 1px solid #ddd;}
.footdown a{margin: 0 20px;color: #666;}
#footdown_l1{border:none;}
#footdown_a1{margin-left: 0px;}
#footdown_l2{float: right; border:none;}